:root{
    --night-mode: #202124;
    --night-mode-font-color: #fff;
    --night-mode-hover:#2f3034;
    --night-mode-button: #303134;
    --night-mode-border: #9aa0a6;
    --night-mode-button-hover: #5f6368;
    --night-mode-lang-color: #bdc1c6;
    --night-mode-footer: #171717;
    --night-mode-footer-font: #9aa0a6;
    --night-mode-footer-border: #3c4043;
}

@font-face {
    font-family: product-sans;
    src: url(assets/fonts/Product\ Sans\ Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: product-sans;
}

body{
    background-color: var(--night-mode);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
    font-size: .85rem;

    & .header__first{
        width: max-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .8em;

        & a{
            text-decoration: none;
            color: var(--night-mode-font-color);
            cursor: pointer;
        }

        & a:hover{
            text-decoration: underline;
            cursor: pointer;
        }

        & a:visited{
            color: var(--night-mode-font-color);
        }
    }

    & .header__second{
        height: 100%;
        width: max-content;
        gap: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2%;

        & img:nth-child(1){
            height: 50%;
            cursor: pointer;
            border-radius: 100%;
            position: relative;
        }

        & img:nth-child(1):hover{
            background-color: var(--night-mode-hover);
        }

        & img:nth-child(2){
            height: 50%;
            cursor: pointer;
        }
    }
}

.container{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;

    & h1{
        font-size: 5.5rem;
        color: var(--night-mode-font-color);
        font-weight: 500;
    }

    & .search-bar{
        height: 3em;
        width: 45%;
        border: .5px solid var(--night-mode-border);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;

        & input{
            width: 80%;
            height: 100%;
            padding: 2%;
            background-color: transparent;
            outline: none;
            border: none;
            color: var(--night-mode-font-color);
            font-size: 16px;
        }

        & .tools{
            height: 100%;
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .9em;

            & img{
                cursor: pointer;
            }

            & img:nth-child(1){
                height: 70%;
            }

            & img:nth-child(2){
                height: 55%;
            }
        }
    }

    .buttons{
        height: 2em;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & button{
            height: 100%;
            width: 48%;
            font-size: 14px;
            cursor: pointer;
            color: var(--night-mode-font-color);
            background-color: var(--night-mode-button);
            outline: none;
            border: none;
            border-radius: 5px;
        }

        & button:hover{
            border: .5px solid var(--night-mode-button-hover);
        }
    }

    & .hovers{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        flex-direction: row;
        color: var(--night-mode-lang-color);
        gap: .4em;

        & p{
            font-size: 14px;
        }

        & .hovers__item{
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5em;

            & a{
                text-decoration: none;
                color: #8ab4f8;
                font-size: 14px;
            }

            & a:visited{
                color: #8ab4f8;
            }

            & a:hover{
                text-decoration: underline;
            }
        }
    }
}

footer{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--night-mode-footer);
    color: var(--night-mode-footer-font);
    bottom: 0;

    & .footer__one{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
        border-bottom: .5px solid var(--night-mode-footer-border);

        & p{
            font-size: 14px;
        }
    }

    & .footer__two{
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 3%;
        padding-left: 3%;

        & a{
            text-decoration: none;
            font-size: 14px;
        }

        & a:visited{
            color: var(--night-mode-footer-font);
        }

        & a:hover{
            text-decoration: underline;
        }

        & .hover__one, .hover__two{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
        }
    }
}